* {
    font-family: 'Roboto', sans-serif;
    background-image: url(/homework/Images/i);
    
}


h1 {
    text-align: center;
   padding: 20px;
     color: white;
    font-size: 30px;
    margin: auto;
    background-image: url(/homework/Images/WeightLifting_wallpapers_26.jpg);
    
}

#logo, #logos {
    
    width: 3.1em;
    margin-left: 10px;
    margin-right: auto;
   display: block;
    position: relative;
    top: -86px;
}

header {
    display: block;
    
    }
header, li, a{
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    padding-left: 37px;
    padding-right: 39.8px;
    margin: auto;

}
#text {
    font-size: 20px;
    padding: 30px;
    margin-left: 80px;
    text-shadow: 2px 2px gray;
    
}


#text1{
   
    margin-top: -84px;
    margin-left: 40px;
    margin-right: 40px;
    
    text-align: justify;
    

    
}
#text2{
    font-size: 20px;
    padding: 30px;
    margin-left: 80px;
    text-shadow: 2px 2px gray;
        
}
#picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-top: -75px;
    position: relative;
    
}
footer {
    padding-top: 40px;
    background-color: lightgrey;
    
}
body{
    background-color: lightgrey;
   
}

@media only screen and (max-width: 500px) {
    
    *{
        font-size: 13px;
    }
    #picture{
        height: 150px;
    }
    

}